#fadeDiv{
	width: 1090px;
	height: 600px;
	margin:50px auto 0px;
}
#fadeDiv  .fadeLeft{
	float: left;
	width:530px;
	
	
}
#fadeDiv  .fadeLeft ul{
	width:400px;
	height: 400px;
	margin:10px auto 0;
	overflow: hidden;
	border: 1px solid #999;
}
#fadeDiv  .fadeLeft ul>li{
	float: left;
	display: none;
}
#fadeDiv  .fadeLeft ul>li>img{
	float: left;
	width:350px;
	margin: 25px;
}
#fadeDiv  .fadeLeft ol{
	height:55px;
	margin:30px auto 0;
	text-align: center;
	display: table;
}
#fadeDiv .fadeLeft ol>li{
	float: left;
	width:55px;
	height:55px;
	margin-right:7px;
	border:1px solid #7e7e7e;
	cursor: pointer;
}
#fadeDiv  .fadeLeft ol>li.selected{
	border:2px solid #7e7e7e;	
}
#fadeDiv  .pro_det{
	width: 520px;
	height: 420px;
	float: right;
}
#fadeDiv  .pro_det .pro_title{
	font-size: 18px;
	line-height: 25px;
	color:#414114;
	display:inline-block;
	margin-top: 30px;
}

#fadeDiv  .pro_det .price{
	font-size: 18px;
	font-weight: both;
}

#fadeDiv  .pro_det .price .font{
	font-size: 12px;
	height: 40px;
	float: left;
	margin-top:14px;
	line-height: 40px;
	color:#000;
}
#fadeDiv  .pro_det .price .font b{
	color:#e31436;
}
#fadeDiv  .pro_det>div.number{
	width:330px;
	font-size: 12px;
	line-height: 20px;
	color:#000;
}
#fadeDiv  .pro_det>div.number>p{
	float: left;
}
#fadeDiv  .pro_det>div.number>p.font{
	height: 40px;
	line-height: 40px;
	margin-right: 5px;
}
#num_box>input{
	float: left;
	box-sizing: border-box;
	border:1px solid #b3b3b3;
    margin-top:10px;
    margin-left:10px;
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
}
#num_box>ul{
	float: left;
	width:30px;
}
#num_box>ul>li{
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bold;
	color:#ccc;
	text-align: center;
	box-sizing: border-box;
	border:1px solid #b3b3b3;	
	border-left:0;
	cursor: pointer;
}
#num_box>ul>li:first-child{
	border-bottom: 0;
}

#fadeDiv  .pro_det>div.buy{
	width:335px;
	height:40px;
	margin:15px 5px 15px 0;
}
#fadeDiv  .pro_det>div.buy p{
	width:160px;
	height:40px;
	line-height:40px;
	text-align: center;
	float: left;
}
#fadeDiv  .pro_det>div.buy p a{
	font-size:14px;

}
#fadeDiv  .pro_det>div.buy p.immediately{
	margin-top: 10px;
	background-color: #e31436;
}
#fadeDiv  .pro_det>div.buy p.immediately a{
	color:#fff;
	font-size: 18px;
	font-variant: both;
}

/*商品详情 评论*/
#detail{
	width: 960px;
	margin:0 auto;
}

#detail .img_deai{
	width:710px;
}
#detail h2.title{
	width: 100%;
	line-height: 30px;
	background: #f2f2f2;	
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
}
#detail h2.title>span{
	display: inline-block;
	font-size: 16px;
	margin:0 30px;
	color:#434343;
	cursor: pointer;
}
#detail>div.cont{
	margin-top:10px;
}
#detail>div.cont>div{
	display: none;
}
#detail>div.cont>div.img>img{
	float: left;
}
#detail>div.cont>div.comment{
	width:100%;
	/*height:500px;*/
	/*border:1px solid red;*/
}
/*累计评价*/
/*h1,h2,h3,h4,h5,h6{
	font-size:100%;
}*/
address,cite,dfn,em,var{
	font-style:normal;
}
code,kbd,pre,samp{
	font-family:courier new,courier,monospace;
}

sup{
	vertical-align:text-top;
}
sub{
	vertical-align:text-bottom;
}
legend{
	color:#000;
}
fieldset,img{
	border:0;
}
button,input,select,textarea{
	font-size:100%;
}
table{
	border-collapse:collapse;border-spacing:0;
}
.clear{
	clear: both;float: none;height: 0;overflow: hidden;
}

#pn{
	width: 550px; height: auto;
	 background: #fff; margin: 0 auto; 
	 padding: 20px;
	}
.list0{
	padding: 20px 0;
	 position: relative; 
	 border-top: 1px solid #eee;
	}
.head{
	width: 60px; 
	float: left;
}
.head img{
	width: 60px; 
	height: 60px;
	 }
.close{
	width: 20px; 
	height: 20px; 
	position: absolute; 
	top: 0; right: 0;
	 color: #696e78; font-size: 14px; text-align: center; line-height: 20px;}
.close:hover{
	color: #eb7350;
}
.content{
	width: 450px;
	 line-height: 20px;
	  font-size: 14px; 
	  margin-left: 70px; 
	}
.name{
	color: #eb7350;
}
.pic{
	margin: 5px 0;
}
.good:after{
	clear:both;
	content:'';
	display:block;
	width:0;height:0;
	visibility:hidden;
}
.good{*zoom:1;}
.date{
	float:left; 
	color: #808080;
}
.good a{
	float: right;
	 color: #808080;
	}
.people{
	background: #F7F7F7;
	 height: 28px;
	  line-height: 28px;
	   padding-left: 10px; 
	   margin: 5px 0;
	}
.comment:after{
	clear:both;
	content:'';
	display:block;
	width:0;height:0;
	visibility:hidden;
}
.comment{
	*zoom:1;
 padding: 10px 0;
  border-top: 1px solid #eee;
}
.comment .text span{
	text-align: left;
}
.comment-left{
	width: 30px; 
	float: left; 
	display: inline; 
	margin-right: 10px;
}
.comment-left img{
	width: 30px; 
	height: 30px;
}
.comment-right{
	float: left; 
	width: 410px;
}
.comment-text{
	line-height: 18px;

}
.comment-text span{
	color:#eb7350;
	text-align: left;
}
.comment-date{
	font-size: 12px; 
	line-height: 14px;
	 color: #ccc; 
	 position: relative;
	}
.comment-zan{
	position: absolute;
	 right: 40px;
	  bottom: 0;
	   color: #808080;
	}
.comment-dele{
	position: absolute;
	 right: 0; bottom: 0; 
	 color: #808080;}
.hf:after{
	clear:both;
	content:'';
	display:block;
	width:0;height:0;
	visibility:hidden;
}
.hf{
	*zoom:1;
}
.hf-text{
 border: 1px solid #eee; 
 display: block;
  height: 15px; 
  width: 438px; 
  padding: 5px; 
  resize: none; 
  color: #ccc; 
  font-size:12px;
}
.hf-on .hf-text{
	height: 60px; 
	color: #333; 
	border:1px solid #ff8140;
}
.hf-btn{
	float: right;
	 width: 65px; 
	 height: 26px; 
	 background: #f7f7f7;
	  color: #ccc;
	   font-size: 12px;
	    display: none;
	}
.hf-btn-on{
	background: #ff8140;
	 color: #fff; 
	}
.hf-nub{
	float: right;
	 padding: 3px 5px; 
	 color: #666; 
	 display: none;
	}
.hf-on .hf-btn{
	display: inline;
}
.hf-on .hf-nub{
	display: inline;
}



